<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <label>주민번호 :</label>
      <!--
            조건1>
            juminNo 를 data에서 관리하고 input 창에서 양방향 바인딩합니다.
        -->
      <input type="text" maxlength="13" v-model="juminNo" />

      <!--
            조건2>
            juminNo의 길이가 13자리일 경우 아래의 내용을 조건에 따라 출력합니다.
            juminNo의 7번째 자리가 1인경우 남성 2인경우 여성 그 이외의 경우 알수없음??
            출력형식>
            당신은 남성입니다.(1인경우)
            당신은 여성입니다.(2인경우)
            알수없음??(그 이외의 경우)
        -->
      <div v-if="juminNo.length === 13">
        당신은 {{juminNo.charAt(6) == '1' ? '남성입니다' : juminNo.charAt(6) == '2' ? '여성입니다' : '알수없음??'}}
      </div>
      <!--
            조건3>
            juminNo의 길이가 0인 경우 아래의 내용을 출력합니다.
            출력형식>
            주민번호를 입력하세요
        -->
      <div v-else-if="juminNo.length === 0">주민번호를 입력하세요</div>
      <!--
            조건4>
            위의 조건 2,3번이 맞지 않을경우 출력합니다.
            출력형식>
            잘못된 주민번호 입니다.
        -->
      <div v-else>잘못된 주민번호 입니다.</div>
    </div>
    <script>
      new Vue({
        el: '#app',
        data() {
          return {
            juminNo: '',
          };
        },
      });
    </script>
  </body>
</html>
